body {
    margin: 0;
    background: #333;
    font: 30px 'Arial';
}

/* #csCircles{
    display: none;
} */
a{
    cursor: pointer;
}
a:hover {
    color: blue;
}
#main{
    display: block;
    margin: 0.5em auto 0 1em;
}
#runeKeyboardWrapper {
    display: none;
    margin: 0.5em auto 0 1em;
}
canvas {
    display: none;
}

/* #csCanvas3d {
    display: block;
} */